<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VK_394{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/ikonica.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
